*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    height: 4rem;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

main {
    padding: 2rem;
    width: 100%;
    flex: 1;
    background-color: black;
    color: white;
}
main section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}